@charset "utf-8";
/* 首页样式 */
.top {
	position: fixed;
	top: 0;
	width: 100%;
	height: 84px;
	background: #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	border-top: 2px solid #cc0000;
	z-index: 999;
	border-bottom: 1px solid #CCCCCC;
}

.top .w .logo img {
	margin-top: 15px;
}

.top .w ul {
	width: auto;
	height: 82px;
}

.top .w ul li {
	width: 130.8px;
	height: 82px;
	text-align: center;
	line-height: 82px;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
}

.top .w ul .act {
	background: #cc0000;
}

.top .w ul .act a {
	color: #fff !important;
}

.top .w ul li a {
	font-size: 16px;
	color: #333;
}

.content {
	width: 100%;
	height: 600px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: #ddd;
	padding: 20px 0;
}

/* banner样式 */
.banner {
	width: 100%;
	height: 410px;
	overflow: hidden;
	margin-top: 84px;
}
/* 服务商样式 */
.fuwu {
	width: 100%;
	height: 370px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 25px;
}

.fuwu .w h1 {
	text-align: center;
	font-size: 30px;
	color: #3d3d3d;
}

.fuwu .w .biaoti {
	text-align: center;
	font-size: 18px;
	color: #c6271a;
	margin-bottom: 5px;
}

.fuwu .w .fl {
	width: 500px;
	height: auto;
	margin-top: 20px;
	overflow: hidden;
}

.fuwu .w .list {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}

.fuwu .w .fl .yuanquan {
	float: left;
	width: 96px;
	height: 96px;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #000000;
	padding: 16px;
}

.fuwu .w .fl .yuanquan .yinang {
	display: none;
}

.fuwu .w .fl .neirong {
	float: left;
	padding-left: 18px;
}

.fuwu .w .fl .neirong h3 {
	font-size: 16px;
	color: #000000;
	line-height: 36px;
}

.fuwu .w .fl .neirong p {
	font-size: 12px;
	color: #000000;
	line-height: 20px;
}

.fuwu .w .fl:hover .yuanquan .yinang {
	display: block;
}

.fuwu .w .fl:hover .yuanquan .xianshi {
	display: none;
}

.fuwu .w .fl:hover .yuanquan {
	border: 2px solid #c6271a;
}

.fuwu .w .fl:hover .neirong h3 {
	color: #c6271a;
}

.fuwu .w .fl:hover .neirong p {
	color: #c6271a;
}

/* 案例样式 */
.anli {
	width: 100%;
	height: 435px;
	background: #f0f2f4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 20px;
}

.anli .w h1 {
	font-size: 30px;
	color: #000000;
	text-align: center;
}

.anli .w .biaoti {
	font-size: 14px;
	color: #595959;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 40px;
}

.picScroll-left {
	width: 1000px;
	height: 285px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.picScroll-left .bd ul li {
	width: 25%;
	height: 208px;
	float: left;
	_display: inline;
	overflow: hidden;
	text-align: center;

}

.picScroll-left .bd ul li a {
	display: block;
	text-align: center;
	color: #1c1c1c;
	font-size: 14px;
	margin-top: 5px;
}

.picScroll-left .bd ul li .pic {
	text-align: center;
}

.picScroll-left .bd ul li .pic img {
	margin: 0 auto;
	width: 237px;
	height: 177px;
	display: block;
}
/* 留言系统 */

.content {
	background: rgb(240, 242, 244);
	padding: 40px 0;
}

.content .w {
	height: auto;
	overflow: hidden;
}

.content .w .neirong {
	width: 100%;
	min-height: 490px;
	height: auto;
	background-color: #fff;
	overflow: hidden;
	padding: 50px;
}

.content .w .neirong .biaoti {
	margin-bottom: 30px;
}

.content .w .neirong .biaoti h4 {
	font-size: 16px;
	color: #333333;
	font-weight: bold;
}

.content .w .neirong .biaoti span {
	font-size: 14px;
	color: #4c4c4c;
}

.content .w .neirong form .wenben {
	width: 33.33%;
	height: 40px;
	overflow: hidden;
	font-size: 14px;
	color: #4c4c4c;
	line-height: 40px;
	margin-bottom: 20px;
}

.content .w .neirong form .wenben:nth-child(2) {
	padding-left: 50px;
}

.content .w .neirong form .wenben:nth-child(5) {
	padding-left: 50px;
}

.content .w .neirong form .wenben input {
	width: 217px;
	height: 40px;
	border: 1px solid #ccc;
	margin-left: 10px;
	padding: 5px;
	font-size: 14px;
	color: #333;
}

.content .w .neirong form .wenbenyu {
	width: 100%;
	height: 145px;
	overflow: hidden;
	font-size: 14px;
	color: #4c4c4c;
	line-height: 40px;
	margin-bottom: 20px;
}

.content .w .neirong form .wenbenyu textarea {
	width: 1062px;
	height: 145px;
	border: 1px solid #ccc;
	margin-left: 10px;
	padding: 5px;
	font-size: 14px;
	color: #333;
	resize: none;
}

.content .w .neirong form button {
	width: 1062px;
	height: 45px;
	background: #cc0000;
	font-size: 14px;
	color: #fff;
	margin-left: 37px;
	border: none;
	margin-top: 150px;
}
/* 底部样式 */
.footer .footerT {
	width: 100%;
	height: 215px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: #222222;
	color: #ffffff;

}

.footer .footerT .w {
	width: 1200px;
}

.footer .footerT .w .fl {
	margin-right: 160px;
}

.footer .footerT .w .fl h3 {
	margin-top: 35px;
	margin-bottom: 20px;
	font-size: 16px;
}

.footer .footerT .w .fl h4 {
	margin-top: 80px;
	font-size: 23.25px;
	color: #8f8f8f;
}

.footer .footerT .w .fl p {
	font-size: 12px;
	color: #c8c8c8;
	line-height: 24px;
}

.footer .footerT .w .fr {
	margin: 0;
}
.footer .footerB {
	width: 100%;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background: #000;
	line-height: 45px;
	color: #a4a4a4;
	font-size: 14px;
	text-align: center;
}