@charset "utf-8";
*{word-wrap:break-word}
body{ overflow-x: hidden; overflow-y: auto; }
/* CSS Document */
div,address,b,big,blockquote,body,center,cite,code,dd,del,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,label,legend,li,ol,p,pre,small,span,strong,u,ul,var,th,td,input {
	margin: 0;padding: 0;}
div,dl,dt,dd,form,input,button,textarea,p,ul,li,ol,table,tr,td,header,footer,aside,nav,h1,h2,h3,h4,h5,h6,section{
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
body{font:16px "微软雅黑","Arial Narrow",HELVETICA;}
/*字体*/
a{text-decoration:none;color:#FFFFFF;cursor: pointer}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover{color: #009C3B;text-decoration: none;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}
h1,h2,h3,h4,h5,h6,strong{font-weight:normal}
/*列表 表单*/
ul,ol{list-style:none;}
img{border:none !important;vertical-align:middle}
input{outline:none;}
input[type="button"], input[type="submit"], input[type="reset"],button,select {-webkit-appearance: none;outline:none;}
textarea {-webkit-appearance: none;outline:none}
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}
.clear:after{content:'';display: block;clear:both;}